h1{font-family: serif;font-style: italic;text-align-last: center;
     color:black;background-color: gray;border-radius: 1rem;
     padding-bottom: 1.2rem ;padding-top: 0.7rem;
     text-decoration-line: underline}
h2{font-family: sans-serif;color: antiquewhite;
        font-style: italic;text-decoration: underline;
        text-decoration-style:double ; 
        text-align: left;padding-left: 2rem;
        font-size:2.5rem;
     }
ul{font-family: cursive;font-style: italic;display: flex;
    flex-direction: column;justify-content: center;
    align-items: center;line-height: 25px;
    }
.image{
    display:flex;
    justify-content:center;
    align-items:center;
}
.imgsize{height: 200px;width: 150px;border-radius: 7px;}
.heading{font-family: fantasy;font-style: italic;
    color:slateblue;text-align: center;font-size:3rem;
    text-decoration-line:underline;letter-spacing: 1.5px;
    background-color: lawngreen;border-radius: 10px;
    padding-left: 1rem;padding-right:1rem ;
    padding-bottom: 1rem;padding-top: 0.5rem;
 }
 
ol{font-family: cursive;color:rgb(220, 234, 240);
    text-align: justify;font-size: 20px;line-height:3rem;
 }
footer{font-size: 9px;
     ;position:fixed;bottom: 1px;right: 3px;
     padding-top: 1rem;
    }
a{text-decoration: none;color: rgb(220, 234, 240);
}
body{background-image: url('C:/ramstudentinfo/Style&images/bg.jpg');
    background-repeat: no-repeat;background-size:100vw;
    background-position-x: center;
    background-position-y: center;
    image-resolution: 1080px;
}
.mainbg{background-image: url('C:/ramstudentinfo/Style&images/mainbg.jpg');
    background-repeat: no-repeat;background-size: 100vw;
    background-position-x: center;
    background-position-y: center;
    image-resolution: 1080px;
}